@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Activity Wish List</h2>
        <p>
            This project was created to help represent a fundamental app written
            with Blazor. The shopping theme is used throughout the app.
        </p>
        <br />
        <h2 class="title">Resources</h2>
        https://github.com/djaus2/mslearne2
        <ul>
           <li>
                <a href="https://github.com/djaus2/mslearne2">
                    Code for this app in GitHub
                </a>
            </li>
            <li>
                <a href="https://davidjones.sportronics.com.au">
                    David Jones' blog site <small><i>(Doocumentation on this coming there soon.)</i></small>
                </a>
            </li>
            <li>
                <a href="https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api-dotnet/">
                    The Blazor C# Azure Static Websites tutorial
                </a>
            </li>
            <li>
                <a href="https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet">
                    Code in GitHub for the tutorial
                </a>
            </li>
        </ul>
    </div>
</div>