@page "/about"

<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Activity Wish List</h2>
        <p>
            This project was created to help represent a fundamental app written
            with Blazor. Has been extended to have 3 entities. Modelled on 2 previous Blazor repositories (last 2 links).
        </p>
        <br />
        <h2 class="title">Resources (Links)</h2>
        <ul>
           <li>
                <a href="https://github.com/djaus2/mslearne2">
                    Code for this app in GitHub
                </a>
            </li>
            <li>
                <a href="https://davidjones.sportronics.com.au">
                    David Jones' blog site <small><i>(Documentation on this coming there soon.)</i></small>
                </a>
            </li>
            <li>
                <a href="https://docs.microsoft.com/en-us/learn/modules/publish-app-service-static-web-app-api-dotnet/">
                    The Blazor C# Azure Static Websites tutorial
                </a>
            </li>
            <li>
                <a href="https://github.com/MicrosoftDocs/mslearn-staticwebapp-dotnet">
                    Code in GitHub for the tutorial
                </a>
            </li>
            <li>
                <a href="https://github.com/djaus2/EFBlazorBasics">
                    EFBlazorBasics Blazor Server only Helper app on GitHub
                </a>
            </li>
            <li>
                <a href="https://github.com/djaus2/EFBlazorBasics_Wasm">
                    EFBlazorBasics Blazor WASM Helper app on GitHub
                </a>
            </li>
        </ul>
    </div>
</div>
