<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link">
                Home
            </NavLink>
            <NavLink href="/activitys" ActiveClass="active-link">
                Activitys
            </NavLink>
            <NavLink href="/helpers" ActiveClass="active-link">
                Helpers
            </NavLink>
            <NavLink href="/rounds" ActiveClass="active-link">
                Rounds
            </NavLink>
            <NavLink href="/resetdata" ActiveClass="active-link">
                Reset Data
           </NavLink>
            <NavLink href="/about" ActiveClass="active-link">
                About
           </NavLink>
        </ul>
    </nav>
</div>